<html lang="pt-br">
<body>
    

    <!--Colocando o banner/imagem inicial-->
    <section id="page-header" class="blog-header">
        <h2>#Leitura</h2>
        <p><strong>Leia e conheça mais desse universo sustentável</strong></p>
    </section>

    <!--Colocando os posts do blog-->
    <section id="blog">
        <div class="blog-box">
          <div class="blog-img">
            <img src="~/img/blog/b1.jpg" alt="">
          </div>  
          <div class="blog-details">
            <h4>Teste em animais: a importância da luta contra crueldade</h4>
            <p>Ao longo dos anos, animais têm sido usados em laboratórios pelo mundo para testar cosméticos, alimentos e remédios. Tudo para garantir que...</p>
            <a href="#">CONTINUE LENDO</a>
          </div>
          <h1>13/12</h1>
        </div>

        <div class="blog-box">
            <div class="blog-img">
                <img src="~/img/blog/b2.jpg" alt="">
            </div>  
            <div class="blog-details">
              <h4>Go Vegan!</h4>
              <p>O veganismo é um estilo de vida que exclui, na medida do possível e do praticável, produtos de origem animal - desde refeições até a forma...</p>
              <a href="#">CONTINUE LENDO</a>
            </div>
            <h1>06/12</h1>
          </div>

          <div class="blog-box">
            <div class="blog-img">
                <img src="~/img/blog/b3.jpg" alt="">
            </div>  
            <div class="blog-details">
              <h4>Quebradeiras de babaçu</h4>
              <p>Entre a Caatinga e o Cerrado, nos estados do Maranhão, Piauí, Tocantins e Pará, vivem as mulheres quebradeiras de coco babaçu. Elas somam mais de 300 mil ...</p>
              <a href="#">CONTINUE LENDO</a>
            </div>
            <h1>29/11</h1>
          </div>

          <div class="blog-box">
            <div class="blog-img">
                <img src="~/img/blog/b4.jpg" alt="">
            </div>  
            <div class="blog-details">
              <h4>Os benefícios dos óleos essenciais</h4>
              <p>Os óleos essenciais são obtidos por meio de técnicas de extração. Produtos 100% naturais extraídos de folhas, raízes, sementes, frutos, flores e troncos. Sendo ...</p>
              <a href="#">CONTINUE LENDO</a>
            </div>
            <h1>22/11</h1>
          </div>

          <div class="blog-box">
            <div class="blog-img">
                <img src="~/img/blog/b5.jpg" alt="">
            </div>  
            <div class="blog-details">
              <h4>Por que o natural é melhor que o industrial</h4>
              <p>Vale a pena comprar um produto industrializado barato ou um produto natural de maior preço e qualidade comprovada?</p>
              <a href="#">CONTINUE LENDO</a>
            </div>
            <h1>15/11</h1>
          </div>
    </section>


    <!--Colocando os quadradinhos indicadores de páginas-->
    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
    </section>

</body>
</html>
<script src="~/js/script.js"></script>