<html lang="pt-br">
<body>
   <!--Criando o folder inicial - primeira visão do site-->
    <section id="hero">
        <h4>Novidade</h4>
        <h2>Kit Pono a Hidratação em dia</h2>
        <h1>R$ 70,00</h1>
        <p>Ou 4x de R$ 17,50</p>
        <button>Compre agora</button>
    </section>

    <!--Criando o folder de serviços do site-->

    <section id="feature" class="section-p1">
        <!--Criando os quadradinhos dos serviços/produtos-->
        <div class="fe-box"></i>">
            <img src="~/img/features/f1.png" alt="">
            <h6>Compras Online</h6>
        </div>

        <div class="fe-box">
            <img src="~/img/features/f2.png" alt="">
            <h6>Entrega rápida</h6>
        </div>

        <div class="fe-box">
            <img src="~/img/features/f3.png" alt="">
            <h6>Economia consciente</h6>
        </div>

        <div class="fe-box">
            <img src="~/img/features/f4.png" alt="">
            <h6>Promoções</h6>
        </div>

        <div class="fe-box">
            <img src="~/img/features/f5.png" alt="">
            <h6>Clientes satisfeitos</h6>
        </div>

        <div class="fe-box">
            <img src="~/img/features/f6.png" alt="">
            <h6>Suporte</h6>
        </div>
    </section>

    <!--Colocando os produtos de destaque no home-->
    <section id="product1" class="section-p1">
        <h2>Favoritos</h2>
        <p>Conheça os queridinhos da galera e entre na onda</p>
        <div class="pro-container">
            <!--Produto 1-->
            <div class="pro" onclick="window.location.href='/Home/Sproduto'">
                <img src="~/img/products/c1.jpg" alt="">
                <div class="des">
                    <!--Descrição dos produtos e suas categoria-->
                    <span>boca</span>
                    <h5>Gel Dental Clareador Carvão</h5>
                    <div class="star">
                        <!--Classificação dos produtos / estelinhas-->
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$36,70</h4> <!--Preço do produto-->
                </div>
                <a href="/Home/Sproduto"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 2-->
            <div class="pro">
                <img src="~/img/products/s1.jpg" alt="">
                <div class="des">
                    <!--Descrição dos produtos e suas categoria-->
                    <span>corpo</span>
                    <h5>Sabonete Líquido Esfoliante Renovação</h5>
                    <div class="star">
                        <!--Classificação dos produtos / estelinhas-->
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$78,00</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 3-->
            <div class="pro">
                <img src="~/img/products/h1.jpg" alt="">
                <div class="des"> <!--Descrição dos produtos e suas categoria-->
                    <span>mãos</span>
                    <h5>Hidratante para mãos</h5>
                    <div class="star"> <!--Classificação dos produtos / estelinhas-->
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$42,00</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 4-->
            <div class="pro">
                <img src="~/img/products/l1.jpg" alt="">
                <div class="des">
                    <!--Descrição dos produtos e suas categoria-->
                    <span>rosto</span>
                    <h5>Limpador Facial Demaquilante</h5>
                    <div class="star">
                        <!--Classificação dos produtos / estelinhas-->
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$112,00</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 5-->
            <div class="pro">
                <img src="~/img/products/e1.jpg" alt="">
                <div class="des">
                    <!--Descrição dos produtos e suas categoria-->
                    <span>rosto</span>
                    <h5>Hidratante Facial Orvalho</h5>
                    <div class="star">
                        <!--Classificação dos produtos / estelinhas-->
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$118,00</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 6-->
            <div class="pro">
                <img src="~/img/products/b1.jpg" alt="">
                <div class="des">
                    <!--Descrição dos produtos e suas categoria-->
                    <span>rosto</span>
                    <h5>Combo Spa Facial</h5>
                    <div class="star">
                        <!--Classificação dos produtos / estelinhas-->
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$223,00</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 7-->
            <div class="pro">
                <img src="~/img/products/a1.jpg" alt="">
                <div class="des">
                    <!--Descrição dos produtos e suas categoria-->
                    <span>cabelo</span>
                    <h5>Combo Nutrição Capilar</h5>
                    <div class="star">
                        <!--Classificação dos produtos / estelinhas-->
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$184,00</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 8-->
            <div class="pro">
                <img src="~/img/products/d1.jpg" alt="">
                <div class="des">
                    <!--Descrição dos produtos e suas categoria-->
                    <span>rosto</span>
                    <h5>Combo Facial Pele Mista</h5>
                    <div class="star">
                        <!--Classificação dos produtos / estelinhas-->
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$215,00</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

        </div>
    </section>

    <!--Criando o banner principal de promoção-->
    <section id="banner" class="section-m1">
        <h4>PromoVerão</h4>
        <h2>Adquira <span>70% Off</span> - em todos os bronzeadores </h2> <!--Coloca-se o 70% dentro do span para conseguir mudar a cor dele sozinho-->
        <button class="normal">Eu quero!</button>
    </section>

     <!--Colocando os novos produtos na tela inicial do site-->
     <section id="product1" class="section-p1">
        <h2>Nova coleção</h2>
        <p>Coleção de óleos essenciais e vegetais para cuidar de você</p>
        <div class="pro-container">
            <!--Produto 1-->
            <div class="pro">
                <img src="~/img/products/o1.jpg" alt="">
                <div class="des">
                    <!--Descrição dos produtos e suas categoria-->
                    <span>vegetal</span>
                    <h5>Óleo vegetal de argan</h5>
                    <div class="star">
                        <!--Classificação dos produtos / estelinhas-->
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$198,00</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 2-->
            <div class="pro">
                <img src="~/img/products/o2.jpg" alt="">
                <div class="des">
                    <!--Descrição dos produtos e suas categoria-->
                    <span>essencial</span>
                    <h5>Óleo essencial de olíbano</h5>
                    <div class="star">
                        <!--Classificação dos produtos / estelinhas-->
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$198,00</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 3-->
            <div class="pro">
                <img src="~/img/products/o3.jpg" alt="">
                <div class="des">
                    <!--Descrição dos produtos e suas categoria-->
                    <span>vegetal</span>
                    <h5>Óleo vegetal de copaíba</h5>
                    <div class="star">
                        <!--Classificação dos produtos / estelinhas-->
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$65,00</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 4-->
            <div class="pro">
                <img src="~/img/products/o4.jpg" alt="">
                <div class="des">
                    <!--Descrição dos produtos e suas categoria-->
                    <span>essencial</span>
                    <h5>Óleo essencial de cedro</h5>
                    <div class="star">
                        <!--Classificação dos produtos / estelinhas-->
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$46,20</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 5-->
            <div class="pro">
                <img src="~/img/products/o5.jpg" alt="">
                <div class="des">
                    <!--Descrição dos produtos e suas categoria-->
                    <span>vegetal</span>
                    <h5>Óleo vegetal de rosa mosqueta</h5>
                    <div class="star">
                        <!--Classificação dos produtos / estelinhas-->
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$85,00</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 6-->
            <div class="pro">
                <img src="~/img/products/o6.jpg" alt="">
                <div class="des">
                    <!--Descrição dos produtos e suas categoria-->
                    <span>essencial</span>
                    <h5>Óleo essencial de Ylang Ylang</h5>
                    <div class="star">
                        <!--Classificação dos produtos / estelinhas-->
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$143,00</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 7-->
            <div class="pro">
                <img src="~/img/products/o7.jpg" alt="">
                <div class="des">
                    <!--Descrição dos produtos e suas categoria-->
                    <span>vegetal</span>
                    <h5>Óleo vegetal de jojoba</h5>
                    <div class="star">
                        <!--Classificação dos produtos / estelinhas-->
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$85,40</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 8-->
            <div class="pro">
                <img src="~/img/products/o8.jpg" alt="">
                <div class="des">
                    <!--Descrição dos produtos e suas categoria-->
                    <span>essencial</span>
                    <h5>Óleo essencial de laranja doce</h5>
                    <div class="star">
                        <!--Classificação dos produtos / estelinhas-->
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$25,10 </h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

        </div>
    </section>

    <!--Criando os outros banner/anuncios-->

    <section id="sm-banner" class="section-p1">
        <div class="banner-box">
            <h4><strong>Ofertas imperdíveis</strong></h4>
            <h2>Compre 1 e leve 1 de graça</h2>
            <span>O melhor kit spa natural</span>
            <button class="white">Saiba mais</button>
        </div>

        <div class="banner-box banner-box2">
            <h4>nova coleção</h4>
            <h2>Primavera-verão</h2>
            <span>os melhores produtos para você aproveitar a estação</span>
            <button class="white">Ver coleção</button>
        </div>
    </section>

    <section id="banner3">
        <div class="banner-box">
            <h2>CORPO</h2>
            <h3>Produtos para cuidar do seu corpo</h3>
        </div>

        <div class="banner-box banner-box2">
            <h2>ROSTO</h2>
            <h3>Para garantir sua skincare</h3>
        </div>

        <div class="banner-box banner-box3">
            <h2>CABELO</h2>
            <h3>Cabeleleila leila</h3>
        </div>
    </section>

    </body>
</html>
<!--Script que mostra os alertas na tela quando eles são enviados pela tela de login-->
<script>
    if ("@ViewBag.Alert" != null && "@ViewBag.Alert" != "") {
        window.alert("@ViewBag.Alert");
    }
</script>
<script src="./js/script.js"></script>