<html lang="pt-br">


<body>
    <!--Colocando o banner/imagem inicial-->
    <section id="page-header">
        <h2>#Cosméticos ecofriendly</h2>
        <p>Conheça nossos produtos pensados para cuidar de você e do meio ambiente</p>
    </section>


    <!--Colocando os produtos-->
    <section id="product1" class="section-p1">
        <div class="pro-container">
            <!--Produto 1-->
            <div class="pro" onclick="window.location.href='/Home/Sproduto'">
                <img src="~/img/products/c1.jpg" alt="">
                <div class="des"> <!--Descrição dos produtos e suas categoria-->
                    <span>boca</span>
                    <h5>Gel Dental Clareador Carvão</h5>
                    <h4>R$36,70</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 2-->
            <div class="pro">
                <img src="~/img/products/s1.jpg" alt="">
                <div class="des"> <!--Descrição dos produtos e suas categoria-->
                    <span>corpo</span>
                    <h5>Sabonete Líquido Esfoliante Renovação</h5>
                    <h4>R$78,00</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 3-->
            <div class="pro">
                <img src="~/img/products/h1.jpg" alt="">
                <div class="des"> <!--Descrição dos produtos e suas categoria-->
                    <span>mãos</span>
                    <h5>Hidratante para mãos</h5>
                    <h4>R$42,00</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 4-->
            <div class="pro">
                <img src="~/img/products/l1.jpg" alt="">
                <div class="des"> <!--Descrição dos produtos e suas categoria-->
                    <span>rosto</span>
                    <h5>Limpador Facial Demaquilante</h5>
                    <h4>R$112,00</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 5-->
            <div class="pro">
                <img src="~/img/products/e1.jpg" alt="">
                <div class="des"> <!--Descrição dos produtos e suas categoria-->
                    <span>rosto</span>
                    <h5>Hidratante Facial Orvalho</h5>
                    <h4>R$118,00</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 6-->
            <div class="pro">
                <img src="~/img/products/b1.jpg" alt="">
                <div class="des"> <!--Descrição dos produtos e suas categoria-->
                    <span>rosto</span>
                    <h5>Combo Spa Facial</h5>
                    <h4>R$223,00</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 7-->
            <div class="pro">
                <img src="~/img/products/a1.jpg" alt="">
                <div class="des"> <!--Descrição dos produtos e suas categoria-->
                    <span>cabelo</span>
                    <h5>Combo Nutrição Capilar</h5>
                    <h4>R$184,00</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 8-->
            <div class="pro">
                <img src="~/img/products/d1.jpg" alt="">
                <div class="des"> <!--Descrição dos produtos e suas categoria-->
                    <span>rosto</span>
                    <h5>Combo Facial Pele Mista</h5>
                    <h4>R$215,00</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

             <!--Produto 9-->
             <div class="pro">
                <img src="~/img/products/o1.jpg" alt="">
                <div class="des"> <!--Descrição dos produtos e suas categoria-->
                    <span>vegetal</span>
                    <h5>Óleo vegetal de argan</h5>
                    <h4>R$198,00</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 10-->
            <div class="pro">
                <img src="~/img/products/o2.jpg" alt="">
                <div class="des"> <!--Descrição dos produtos e suas categoria-->
                    <span>essencial</span>
                    <h5>Óleo essencial de olíbano</h5>
                    <h4>R$198,00</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 11-->
            <div class="pro">
                <img src="~/img/products/o3.jpg" alt="">
                <div class="des"> <!--Descrição dos produtos e suas categoria-->
                    <span>vegetal</span>
                    <h5>Óleo vegetal de copaíba</h5>
                    <h4>R$65,00</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 12-->
            <div class="pro">
                <img src="~/img/products/o4.jpg" alt="">
                <div class="des"> <!--Descrição dos produtos e suas categoria-->
                    <span>essencial</span>
                    <h5>Óleo essencial de cedro</h5>
                    <h4>R$46,20</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 13-->
            <div class="pro">
                <img src="~/img/products/o5.jpg" alt="">
                <div class="des"> <!--Descrição dos produtos e suas categoria-->
                    <span>vegetal</span>
                    <h5>Óleo vegetal de rosa mosqueta</h5>
                    <h4>R$85,00</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 14-->
            <div class="pro">
                <img src="~/img/products/o6.jpg" alt="">
                <div class="des"> <!--Descrição dos produtos e suas categoria-->
                    <span>essencial</span>
                    <h5>Óleo essencial de Ylang Ylang</h5>
                    <h4>R$143,00</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 15-->
            <div class="pro">
                <img src="~/img/products/o7.jpg" alt="">
                <div class="des"> <!--Descrição dos produtos e suas categoria-->
                    <span>vegetal</span>
                    <h5>Óleo vegetal de jojoba</h5>
                    <h4>R$85,40</h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

            <!--Produto 16-->
            <div class="pro">
                <img src="~/img/products/o8.jpg" alt="">
                <div class="des"> <!--Descrição dos produtos e suas categoria-->
                    <span>essencial</span>
                    <h5>Óleo essencial de laranja doce</h5>
                    <h4>R$25,10 </h4> <!--Preço do produto-->
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> <!--Colocando o icone de adicionar carrinho-->
            </div>

        </div>
    </section>

    <!--Colocando os quadradinhos indicadores de páginas-->
    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
    </section>

     
</body>
</html>
<script src="~/js/script.js"></script>